@charset "UTF-8";
.top-content {
  padding-top: 40px;
}

.navbar {
  width: 1255px;
  height: 60px;
  color: white;
  background-color: #1B1C37;
  border-radius: 14.42px;
  margin: 0px 40px 0px 40px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
.navbar ul {
  text-decoration: none;
  list-style-type: none;
}
.navbar .nav-name {
  display: flex;
  gap: 10px;
  margin-left: 21px;
}
.navbar figure {
  align-items: center;
  margin: 0px;
  margin-top: 16px;
}
.navbar span {
  margin: 0px;
  margin-top: 20px;
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  gap: 40px;
}
.navbar .nav-items span:hover {
  text-decoration: underline;
  text-decoration-color: #7579FF;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}
.navbar button {
  background-color: #7579FF;
  width: 150px;
  height: 40px;
  border-radius: 8.65px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 36px;
}

.banner {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.banner figure {
  margin-right: auto;
}
.banner img {
  width: 750px;
  height: 500px;
}
.banner h2 {
  font-size: 76px;
}
.banner .banner-content {
  margin-top: 30px;
  margin-left: 70px;
}
.banner button {
  background: linear-gradient(to right, #B224EF, #7579FF);
  width: 200px;
  height: 56px;
  border-radius: 8.65px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 36px;
  padding: 16px 30px 16px 30px;
  font-size: 18px;
}
.banner i {
  margin-left: 10px;
}
.banner .arrow img {
  width: 187px;
  height: 187px;
  transform: rotate(5deg);
}
.banner .banner-button {
  display: flex;
  flex-direction: row;
}

.skills {
  margin-left: 70px;
  margin-top: 50px;
  height: auto;
  position: relative;
}
.skills .heading h3 {
  background: linear-gradient(to right, #B224EF, #7579FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 54px;
  margin: 0px;
  margin-top: -30px;
  font-weight: 600;
}
.skills .heading img {
  margin-left: -90px;
  display: inline-block;
  margin-bottom: 30px;
}
.skills .heading .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 55px;
  left: -150px;
  z-index: 0;
  gap: 5px;
  padding: 20px;
}
.skills .heading .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #EDEEFF;
}
.skills .hr-line {
  background-color: #EDEEFF;
  height: 1px;
  width: 1300px;
  margin: 20px 0px;
}
.skills .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.skills .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #EDEEFF;
}
.skills .left {
  position: absolute;
  top: 650px;
  left: -195px;
}
.skills .right {
  position: absolute;
  top: 400px;
  left: 1200px;
}
.skills .progress-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0px 50px 0px 130px;
  position: relative;
}
.skills .progress-bar .hr-line {
  background-color: #EDEEFF;
  height: 1px;
  width: 1000px;
  margin: 0px;
}
.skills .progress-bar .progress-90 .progress-circle-90 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-90 .progress-circle-90 svg {
  transform: rotate(-130deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-90 .progress-circle-90 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-90 .progress-circle-90 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-90 .progress-circle-90 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 425; /* 2πr, with r = 60 */
  stroke-dashoffset: 46.5; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-90 .progress-circle-90 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-90 .caption {
  text-align: center;
  margin-top: 15px;
}
.skills .progress-bar .progress-80 .progress-circle-80 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-80 .progress-circle-80 svg {
  transform: rotate(-150deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-80 .progress-circle-80 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-80 .progress-circle-80 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-80 .progress-circle-80 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 337; /* 2πr, with r = 60 */
  stroke-dashoffset: 37.7; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-80 .progress-circle-80 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-80 .caption {
  text-align: center;
  margin-top: 15px;
}
.skills .progress-bar .progress-70 .progress-circle-70 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-70 .progress-circle-70 svg {
  transform: rotate(-150deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-70 .progress-circle-70 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-70 .progress-circle-70 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-70 .progress-circle-70 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 280; /* 2πr, with r = 60 */
  stroke-dashoffset: 37.7; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-70 .progress-circle-70 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-70 .caption {
  text-align: center;
  margin-top: 15px;
}

.aboutme {
  background-color: #1B1C37;
  height: 1200px;
  width: 1440px;
  -webkit-clip-path: path("M1440,0 L1440,900 C1080,1173 360,621 0,900 L0,0 Z");
          clip-path: path("M1440,0 L1440,900 C1080,1173 360,621 0,900 L0,0 Z");
  margin-left: -30px;
  padding: 0px;
  position: relative;
  align-items: center;
}
.aboutme .about {
  color: white;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  padding-top: 50px;
  margin-bottom: 0;
}
.aboutme .contents {
  width: 950px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 160px;
  background-color: white;
  border-radius: 60px;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 90px 0px 90px;
}
.aboutme .contents img {
  width: 118px;
  height: 118px;
}
.aboutme .contents .icon-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutme .contents .percentage {
  font-size: 44px;
  margin: 0px;
  color: black;
  font-weight: 700;
}
.aboutme .contents p {
  font-size: 30px;
  margin: 0px;
  color: #5F6073;
  font-weight: 600;
}
.aboutme .contents .colombian {
  width: 300px;
  height: 403px;
  background: linear-gradient(to right, #B224EF, #7579FF);
  border-radius: 80px 80px 60px 60px;
  margin-top: 0px;
  position: absolute;
  top: -47%;
  left: 400px;
  text-align: center;
}
.aboutme .contents .colombian span {
  color: white;
  font-weight: 1000px;
}
.aboutme .contents .colombian p {
  color: white;
}
.aboutme .contents .colombian img {
  width: 100%;
  height: 223px;
}
.aboutme .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.aboutme .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EDEEFF;
}
.aboutme .top {
  position: absolute;
  top: 100px;
  left: -50px;
}
.aboutme .top .circle {
  width: 20px;
  height: 20px;
}
.aboutme .bottom {
  position: absolute;
  top: 800px;
  left: 89%;
}
.aboutme .bottom .circle {
  width: 25px;
  height: 25px;
}

.portfolio {
  position: relative;
  z-index: 1;
}
.portfolio .portfolio-heading {
  margin-left: 70px;
  position: relative;
  z-index: 2;
  display: flex;
}
.portfolio .portfolio-heading h3 {
  font-size: 54px;
  margin-top: -290px;
  font-weight: 600;
  background: linear-gradient(to right, #D946EF, #6366F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.portfolio .portfolio-heading img {
  margin-left: -120px;
  margin-top: -420px;
}
.portfolio .portfolio-heading .line {
  width: 1050px;
  margin-top: -180px;
  margin-left: -270px;
}
.portfolio .slider {
  position: relative;
  z-index: 2;
  margin: 35px 0px 100px 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.portfolio .slider .slider-container {
  position: relative;
  z-index: 2;
  min-width: 500px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.portfolio .slider .slider-container .slider-image {
  width: 420px;
  height: 200px;
  margin: -125px auto;
}
.portfolio .slider .slider-container .slider-content {
  text-align: left;
  margin-left: 40px;
  margin-top: 200px;
  position: relative;
  z-index: 3;
}
.portfolio .slider .slider-container h6 {
  margin: 0;
  font-size: 24px;
  background: linear-gradient(to right, #B224EF, #7579FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.portfolio .slider .slider-container p {
  margin: 0;
  color: #5F6073;
}
.portfolio .slider .slider-container .hr {
  border: none;
  height: 2px;
  background-color: red;
}
.portfolio .line {
  background-color: #EDEEFF;
  height: 1px;
  width: 300px;
}
.portfolio .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 170px;
  left: -120px;
  z-index: 0;
  gap: 15px;
  padding: 20px;
}
.portfolio .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #EDEEFF;
}

footer {
  height: 150px;
  background-color: #EDEEFF;
  align-items: center;
  margin: 0px -28px -8px -15px;
  border-radius: 60px 60px 0px 0px;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  padding-top: 40px;
}
footer .footer-icons img {
  width: 40px;
  height: 40px;
}
footer p {
  text-align: center;
  margin-top: 15px;
}
footer .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
footer .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1a1a2e;
  width: 16px;
  height: 16px;
}
footer .right {
  margin-top: -30px;
  margin-left: -5px;
}
footer .left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  gap: 5px;
  margin-top: -120px;
  margin-left: auto;
  margin-right: -10px;
}
footer .left .circle {
  background-color: #1B1C37;
  width: 11px;
  height: 11px;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
body {
  font-family: "Poppins";
}

.container {
  margin: 20px;
}/*# sourceMappingURL=style.css.map */