@charset "UTF-8";
.top-content {
  padding-top: 10px;
}
.top-content .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.top-content .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #EDEEFF;
}
.top-content .left {
  position: absolute;
  top: 550px;
  left: -115px;
}
.top-content .right {
  position: absolute;
  top: 140px;
  left: 1335px;
}
@media screen and (max-width: 768px) {
  .top-content .circle-box {
    display: none;
  }
}

.navbar {
  width: 1255px;
  height: 60px;
  color: white;
  background-color: #1B1C37;
  border-radius: 14.42px;
  margin: 0px 40px 0px 40px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  position: fixed;
  top: 60px;
  z-index: 10;
}
.navbar .menu-bar {
  display: none;
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
.navbar ul {
  text-decoration: none;
  list-style-type: none;
}
.navbar .nav-name {
  display: flex;
  gap: 10px;
  margin-left: 21px;
}
.navbar figure {
  align-items: center;
  margin: 0px;
  margin-top: 16px;
}
.navbar span {
  margin: 0px;
  margin-top: 20px;
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  gap: 40px;
}
.navbar .nav-items span:hover {
  text-decoration: underline;
  text-decoration-color: #7579FF;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}
.navbar button {
  background-color: #7579FF;
  width: 150px;
  height: 40px;
  border-radius: 8.65px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 36px;
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 655px;
    height: 55px;
    margin: 0px 20px 0px 10px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    position: fixed;
    top: 40px;
    z-index: 10;
  }
  .navbar .nav-list {
    gap: 10px;
  }
  .navbar .nav-name {
    gap: 7px;
    margin-left: 10px;
  }
  .navbar figure {
    margin-top: 14px;
  }
  .navbar span {
    margin-top: 18px;
  }
  .navbar .nav-items {
    gap: 15px;
  }
  .navbar .nav-items span:hover {
    text-underline-offset: 10px;
  }
  .navbar button {
    width: 100px;
    height: 30px;
    border-radius: 5.65px;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 12px;
  }
}
@media screen and (max-width: 430px) {
  .navbar {
    width: 370px;
    height: 40px;
    margin: 0px 60px 0px -10px;
    padding: 0px 10px 0px 0px;
    border-radius: 8px;
    font-size: 12px;
    top: 50px;
  }
  .navbar .menu-bar {
    display: block;
  }
  .navbar .menu-bar i {
    font-size: 19px;
    font-weight: bold;
    color: white;
  }
  .navbar button {
    background-color: transparent;
    width: 50px;
    height: 40px;
    border-radius: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .navbar .nav-name {
    margin-left: 21px;
  }
  .navbar figure {
    margin-top: 7px;
  }
  .navbar span {
    margin-top: 12px;
  }
  .navbar .nav-items {
    display: none;
  }
  .navbar .contact {
    display: none;
  }
}

.banner {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
}
.banner figure {
  margin-right: auto;
}
.banner img {
  width: 750px;
  height: 500px;
}
.banner h2 {
  font-size: 76px;
}
.banner .banner-content {
  margin-top: 30px;
  margin-left: 70px;
}
.banner button {
  background: linear-gradient(to right, #B224EF, #7579FF);
  width: 200px;
  height: 56px;
  border-radius: 8.65px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 36px;
  padding: 16px 30px 16px 30px;
  font-size: 18px;
}
.banner i {
  margin-left: 10px;
}
.banner .arrow img {
  width: 187px;
  height: 187px;
  transform: rotate(5deg);
}
.banner .banner-button {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .banner {
    margin-top: 30px;
  }
  .banner figure {
    display: none;
  }
  .banner h2 {
    font-size: 66px;
  }
  .banner .banner-content {
    width: 500px;
  }
}
@media screen and (max-width: 430px) {
  .banner {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .banner h2 {
    font-size: 50px;
  }
  .banner p {
    font-size: 10px;
    margin: 0px;
  }
  .banner .banner-content {
    width: 275px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .banner button {
    width: 180px;
    height: 40px;
    border-radius: 8.65px;
    margin-top: 30px;
    margin-right: 20px;
    padding: 10px 30px 10px 25px;
    font-size: 11px;
  }
  .banner i {
    margin-left: 5px;
  }
  .banner .arrow img {
    width: 107px;
    height: 107px;
    margin-top: 20px;
  }
}

.skills {
  margin-left: 70px;
  margin-top: 50px;
  height: auto;
  position: relative;
}
.skills .heading h3 {
  background: linear-gradient(to right, #B224EF, #7579FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 54px;
  margin: 0px;
  margin-top: -30px;
  font-weight: 600;
}
.skills .heading img {
  margin-left: -90px;
  display: inline-block;
  margin-bottom: 30px;
}
.skills .heading .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 55px;
  left: -150px;
  z-index: 0;
  gap: 5px;
  padding: 20px;
}
.skills .heading .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #EDEEFF;
}
.skills .hr-line {
  background-color: #EDEEFF;
  height: 1px;
  width: 1300px;
  margin: 20px 0px;
}
.skills .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.skills .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #EDEEFF;
}
.skills .left {
  position: absolute;
  top: 650px;
  left: -195px;
}
.skills .right {
  position: absolute;
  top: 400px;
  left: 1200px;
}
.skills .progress-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0px 50px 0px 130px;
  position: relative;
}
.skills .progress-bar .hr-line {
  background-color: #EDEEFF;
  height: 1px;
  width: 1000px;
  margin: 0px;
}
.skills .progress-bar .progress-90 .progress-circle-90 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-90 .progress-circle-90 svg {
  transform: rotate(-130deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-90 .progress-circle-90 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-90 .progress-circle-90 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-90 .progress-circle-90 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 425; /* 2πr, with r = 60 */
  stroke-dashoffset: 46.5; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-90 .progress-circle-90 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-90 .caption {
  text-align: center;
  margin-top: 15px;
}
.skills .progress-bar .progress-90-second {
  display: none;
}
.skills .progress-bar .progress-80 .progress-circle-80 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-80 .progress-circle-80 svg {
  transform: rotate(-150deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-80 .progress-circle-80 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-80 .progress-circle-80 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-80 .progress-circle-80 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 337; /* 2πr, with r = 60 */
  stroke-dashoffset: 37.7; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-80 .progress-circle-80 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-80 .caption {
  text-align: center;
  margin-top: 15px;
}
.skills .progress-bar .progress-70 .progress-circle-70 {
  width: 200px;
  height: 200px;
  position: relative;
}
.skills .progress-bar .progress-70 .progress-circle-70 svg {
  transform: rotate(-150deg);
  width: 100%;
  height: 100%;
}
.skills .progress-bar .progress-70 .progress-circle-70 circle {
  fill: none;
  stroke-width: 24;
}
.skills .progress-bar .progress-70 .progress-circle-70 .bg {
  stroke: #e9e9e9;
}
.skills .progress-bar .progress-70 .progress-circle-70 .progress {
  stroke: #7579FF;
  stroke-linecap: round;
  stroke-dasharray: 280; /* 2πr, with r = 60 */
  stroke-dashoffset: 37.7; /* 90% */
  transition: stroke-dashoffset 0.5s ease;
}
.skills .progress-bar .progress-70 .progress-circle-70 .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin: 5px 0px 0px 2px;
}
.skills .progress-bar .progress-70 .caption {
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .skills {
    margin-left: 10px;
  }
  .skills .heading {
    margin-left: 30px;
  }
  .skills .heading .circle-box {
    gap: 7px;
    left: -100px;
  }
  .skills .hr-line {
    width: 650px;
  }
  .skills .left {
    position: absolute;
    top: 720px;
    left: -155px;
  }
  .skills .right {
    display: none;
  }
  .skills .progress-bar {
    padding: 0px 50px 0px 90px;
  }
}
@media screen and (max-width: 430px) {
  .skills {
    margin-left: 20px;
    margin-top: 40px;
  }
  .skills .heading {
    margin-left: 0px;
  }
  .skills .heading h3 {
    font-size: 30px;
    margin-top: -30px;
    font-weight: 600;
  }
  .skills .heading img {
    margin-left: -50px;
    margin-bottom: 15px;
    width: 85px;
    height: 50px;
  }
  .skills .heading .circle-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    top: 20px;
    left: -90px;
    z-index: 0;
    gap: 3px;
    padding: 20px;
  }
  .skills .heading .circle-box .circle {
    width: 8px;
    height: 8px;
  }
  .skills .hr-line {
    width: 350px;
  }
  .skills .circle-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
  }
  .skills .circle-box .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #EDEEFF;
  }
  .skills .left {
    position: absolute;
    top: 650px;
    left: -195px;
  }
  .skills .right {
    position: absolute;
    top: 400px;
    left: 1200px;
  }
  .skills .progress-bar {
    gap: 20px;
    padding: 0px 0px 0px 10px;
  }
  .skills .progress-bar .hr-line {
    width: 300px;
  }
  .skills .progress-bar .progress-90 {
    display: block;
  }
  .skills .progress-bar .progress-90 .progress-circle-90 {
    width: 200px;
    height: 200px;
  }
  .skills .progress-bar .progress-90 .progress-circle-90 circle {
    stroke-width: 24;
  }
  .skills .progress-bar .progress-90 .progress-circle-90 .progress {
    stroke-dasharray: 365.5; /* 2πr, with r = 60 */
    stroke-dashoffset: 46.55; /* 90% */
  }
  .skills .progress-bar .progress-90 .progress-circle-90 .percentage {
    font-size: 12px;
    margin: 5px 0px 0px 2px;
  }
  .skills .progress-bar .progress-90 .caption {
    margin-top: 11px;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 {
    width: 200px;
    height: 200px;
    position: relative;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 svg {
    transform: rotate(-150deg);
    width: 100%;
    height: 100%;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 circle {
    fill: none;
    stroke-width: 24;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 .bg {
    stroke: #e9e9e9;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 .progress {
    stroke: #7579FF;
    stroke-linecap: round;
    stroke-dasharray: 337; /* 2πr, with r = 60 */
    stroke-dashoffset: 37.7; /* 90% */
    transition: stroke-dashoffset 0.5s ease;
  }
  .skills .progress-bar .progress-80 .progress-circle-80 .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin: 5px 0px 0px 2px;
  }
  .skills .progress-bar .progress-80 .caption {
    text-align: center;
    margin-top: 15px;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 {
    width: 200px;
    height: 200px;
    position: relative;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 svg {
    transform: rotate(-150deg);
    width: 100%;
    height: 100%;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 circle {
    fill: none;
    stroke-width: 24;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 .bg {
    stroke: #e9e9e9;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 .progress {
    stroke: #7579FF;
    stroke-linecap: round;
    stroke-dasharray: 280; /* 2πr, with r = 60 */
    stroke-dashoffset: 37.7; /* 90% */
    transition: stroke-dashoffset 0.5s ease;
  }
  .skills .progress-bar .progress-70 .progress-circle-70 .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin: 5px 0px 0px 2px;
  }
  .skills .progress-bar .progress-70 .caption {
    text-align: center;
    margin-top: 15px;
  }
}

.aboutme {
  background-color: #1B1C37;
  height: 1200px;
  width: 1440px;
  -webkit-clip-path: path("M1440,0 L1440,900 C1080,1173 360,621 0,900 L0,0 Z");
          clip-path: path("M1440,0 L1440,900 C1080,1173 360,621 0,900 L0,0 Z");
  margin-left: -30px;
  padding: 0px;
  position: relative;
  align-items: center;
}
.aboutme .about {
  color: white;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  padding-top: 50px;
  margin-bottom: 0;
}
.aboutme .contents {
  width: 950px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 160px;
  background-color: white;
  border-radius: 60px;
  margin-top: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 90px 0px 90px;
}
.aboutme .contents img {
  width: 118px;
  height: 118px;
}
.aboutme .contents .icon-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutme .contents .percentage {
  font-size: 44px;
  margin: 0px;
  color: black;
  font-weight: 700;
}
.aboutme .contents p {
  font-size: 30px;
  margin: 0px;
  color: #5F6073;
  font-weight: 600;
}
.aboutme .contents .colombian {
  width: 300px;
  height: 403px;
  background: linear-gradient(to right, #B224EF, #7579FF);
  border-radius: 80px 80px 60px 60px;
  margin-top: 0px;
  position: absolute;
  top: -47%;
  left: 400px;
  text-align: center;
}
.aboutme .contents .colombian span {
  color: white;
  font-weight: 1000px;
}
.aboutme .contents .colombian p {
  color: white;
}
.aboutme .contents .colombian img {
  width: 100%;
  height: 223px;
}
.aboutme .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
.aboutme .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EDEEFF;
}
.aboutme .top {
  position: absolute;
  top: 100px;
  left: -50px;
}
.aboutme .top .circle {
  width: 20px;
  height: 20px;
}
.aboutme .bottom {
  position: absolute;
  top: 800px;
  left: 89%;
}
.aboutme .bottom .circle {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 768px) {
  .aboutme {
    height: 750px;
    width: 768px;
    margin-right: -5px;
    -webkit-clip-path: path("M768,0 L768,500 C576,600 192,400 0,500 L0,0 Z");
            clip-path: path("M768,0 L768,500 C576,600 192,400 0,500 L0,0 Z");
  }
  .aboutme .about {
    font-size: 50px;
  }
  .aboutme .contents {
    width: 550px;
    height: 160px;
    left: 100px;
    border-radius: 40px;
    margin-top: 240px;
    padding: 0px 30px 0px 30px;
  }
  .aboutme .contents .icon-content img {
    width: 50px;
    height: 50px;
    margin: 15px 0px 0px 25px;
  }
  .aboutme .contents .icon-content .first {
    margin: 15px 0px 0px 40px;
  }
  .aboutme .contents img {
    width: 50px;
    height: 50px;
  }
  .aboutme .contents .percentage {
    font-size: 15px;
    text-align: center;
  }
  .aboutme .contents p {
    font-size: 20px;
  }
  .aboutme .contents .colombian {
    width: 150px;
    height: 203px;
    border-radius: 60px 60px 40px 40px;
    top: -57%;
    left: 225px;
  }
  .aboutme .contents .colombian img {
    width: 100%;
    height: 105px;
  }
  .aboutme .circle-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
  }
  .aboutme .circle-box .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EDEEFF;
  }
  .aboutme .top .circle {
    width: 15px;
    height: 15px;
  }
  .aboutme .bottom {
    position: absolute;
    top: 440px;
    left: 92%;
  }
  .aboutme .bottom .circle {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 430px) {
  .aboutme {
    width: 430px;
    height: 580px;
    -webkit-clip-path: path("M430,0 L430,250 C330,350 100,200 0,280 L0,0 Z");
            clip-path: path("M430,0 L430,250 C330,350 100,200 0,280 L0,0 Z");
  }
  .aboutme .about {
    font-size: 25px;
    padding-top: 15px;
  }
  .aboutme .contents {
    width: 250px;
    height: 90px;
    left: 60px;
    border-radius: 18px;
    margin-top: 125px;
    padding: 0px 30px 0px 30px;
  }
  .aboutme .contents .icon-content img {
    width: 25px;
    height: 25px;
    margin: 15px 0px 0px 10px;
  }
  .aboutme .contents .icon-content .first {
    margin: 15px 0px 0px 20px;
  }
  .aboutme .contents img {
    width: 50px;
    height: 50px;
  }
  .aboutme .contents .percentage {
    font-size: 12px;
    text-align: center;
  }
  .aboutme .contents p {
    font-size: 10px;
  }
  .aboutme .contents .colombian {
    width: 90px;
    height: 115px;
    border-radius: 28px 28px 20px 20px;
    top: -50%;
    left: 110px;
  }
  .aboutme .contents .colombian img {
    width: 100%;
    height: 55px;
    margin-top: -10px;
  }
  .aboutme .circle-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
  }
  .aboutme .circle-box .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EDEEFF;
  }
  .aboutme .top {
    gap: 3px;
    top: 80px;
    left: 5px;
  }
  .aboutme .top .circle {
    width: 5px;
    height: 5px;
  }
  .aboutme .bottom {
    position: absolute;
    top: 225px;
    left: 84%;
    gap: 4px;
  }
  .aboutme .bottom .circle {
    width: 8px;
    height: 8px;
  }
}

.portfolio {
  position: relative;
  z-index: 1;
  overflow: visible;
}
.portfolio .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 170px;
  left: -120px;
  z-index: 0;
  gap: 15px;
  padding: 20px;
}
.portfolio .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #EDEEFF;
}
.portfolio .portfolio-heading {
  position: relative;
  z-index: 2;
  margin-left: 70px;
  display: flex;
}
.portfolio .portfolio-heading h3 {
  font-size: 54px;
  font-weight: 600;
  margin-top: -290px;
  background: linear-gradient(to right, #D946EF, #6366F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.portfolio .portfolio-heading img {
  margin-left: -120px;
  margin-top: -420px;
}
.portfolio .portfolio-heading .line {
  width: 1050px;
  margin-top: -180px;
  margin-left: -270px;
}
.portfolio .slider {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: 400px;
  margin: -80px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.portfolio .slider .slider-container {
  position: relative;
  z-index: 2;
  min-width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow: visible;
  padding-top: 130px;
}
.portfolio .slider .slider-container .slider-image {
  width: 420px;
  height: 200px;
  margin: -125px auto;
}
.portfolio .slider .slider-container .slider-image img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.portfolio .slider .slider-container .slider-image img:hover {
  transform: scale(1.05);
}
.portfolio .slider .slider-container .slider-content {
  position: relative;
  z-index: 3;
  margin-top: 200px;
  margin-left: 40px;
  text-align: left;
}
.portfolio .slider .slider-container h6 {
  margin: 0;
  font-size: 24px;
  background: linear-gradient(to right, #B224EF, #7579FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.portfolio .slider .slider-container p {
  margin: 0;
  color: #5F6073;
}
.portfolio .slider .slider-container .hr {
  border: none;
  height: 2px;
  background-color: red;
}
.portfolio .line {
  background-color: #EDEEFF;
  height: 1px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .portfolio {
    position: relative;
    z-index: 1;
  }
  .portfolio .circle-box {
    top: 130px;
    left: -140px;
  }
  .portfolio .portfolio-heading {
    margin-left: 40px;
  }
  .portfolio .portfolio-heading h3 {
    font-size: 50px;
    margin-top: -250px;
  }
  .portfolio .portfolio-heading img {
    margin-top: -350px;
  }
  .portfolio .portfolio-heading .line {
    width: 650px;
    margin-top: -150px;
  }
  .portfolio .slider {
    margin: -5px 0px 100px 20px;
    gap: 30px;
  }
  .portfolio .line {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .portfolio .circle-box {
    top: -45px;
    left: -65px;
    gap: 5px;
  }
  .portfolio .circle-box .circle {
    width: 15px;
    height: 15px;
  }
  .portfolio .portfolio-heading {
    margin-left: 0px;
  }
  .portfolio .portfolio-heading h3 {
    font-size: 24px;
    margin-top: -290px;
  }
  .portfolio .portfolio-heading img {
    width: 60px;
    height: 9px;
    margin-left: -60px;
    margin-top: -260px;
  }
  .portfolio .portfolio-heading .line {
    width: 400px;
    margin-top: -240px;
    margin-left: -100px;
  }
  .portfolio .slider {
    margin: -115px 0px 50px 0px;
    gap: 20px;
  }
  .portfolio .slider .slider-container {
    min-width: 250px;
    height: 105px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .portfolio .slider .slider-container .slider-image {
    width: 220px;
    height: 200px;
    margin: -85px auto;
  }
  .portfolio .slider .slider-container .slider-content {
    margin-top: 90px;
    margin-left: 20px;
  }
  .portfolio .slider .slider-container h6 {
    font-size: 12px;
  }
  .portfolio .slider .slider-container p {
    font-size: 9px;
  }
  .portfolio .line {
    background-color: #EDEEFF;
    height: 1px;
    width: 125px;
  }
}

footer {
  height: 150px;
  background-color: #EDEEFF;
  align-items: center;
  margin: 60px -28px -8px -15px;
  border-radius: 60px 60px 0px 0px;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  padding-top: 40px;
}
footer .footer-icons img {
  width: 40px;
  height: 40px;
}
footer p {
  text-align: center;
  margin-top: 15px;
}
footer .circle-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
}
footer .circle-box .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1a1a2e;
  width: 16px;
  height: 16px;
}
footer .right {
  margin-top: -30px;
  margin-left: -5px;
}
footer .left {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  gap: 5px;
  margin-top: -120px;
  margin-left: auto;
  margin-right: -10px;
}
footer .left .circle {
  background-color: #1B1C37;
  width: 11px;
  height: 11px;
}
@media screen and (max-width: 768px) {
  footer {
    height: 90px;
    margin: 0px -10px -10px -10px;
    border-radius: 40px 40px 0px 0px;
  }
  footer .footer-icons {
    gap: 20px;
    padding-top: 20px;
  }
  footer .footer-icons img {
    width: 20px;
    height: 20px;
  }
  footer p {
    font-size: 10px;
    margin-top: 12px;
  }
  footer .right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
    gap: 5px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: -10px;
  }
  footer .right .circle {
    background-color: #1B1C37;
    width: 8px;
    height: 8px;
  }
  footer .left {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: -moz-max-content;
    width: max-content;
    gap: 5px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: 0px;
  }
  footer .left .circle {
    background-color: #1B1C37;
    width: 11px;
    height: 11px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
body {
  font-family: "Poppins";
}

.container {
  margin: 20px;
}/*# sourceMappingURL=style.css.map */