.skills-circle{
    .circle-box {
        @include circle-pattern;

        .circle {
        @include circle-shape;
        width: 35px;
        height: 35px;
        background-color: #EDEEFF;
        }
    }
    .left{
        position: absolute;
        z-index: 0;
        top: 195%;
        left:-90px;
        
    }
    .right{
        position: absolute;
        z-index: 0;
        top: 152%;
        right:-105px;
    }
    @media screen and (max-width: 770px) {
        .left{
            position: absolute;
            top: 122%;
            left:-10%;
            
        }
        .right{
            display: none;
        }
        
    }
    @media screen and (max-width: 430px) {
        .hr-line{
            width: 350px; 
        }
        .circle-box {
            @include circle-pattern;

            .circle {
            @include circle-shape;
            width: 35px;
            height: 35px;
            background-color: #EDEEFF;
            }
        }
        .left{
            position: absolute;
            top: 650px;
            left:-195px;
            
        }
        .right{
            position: absolute;
            top: 400px;
            left:1200px;
            // bottom:10px;
        }
        
    }
}